.fd1{font-style: oblique;}
.fd2{font-style: italic;}
.fd3{font-style: normal;}
.fd4{font-style: oblique;}
.fd5{font-style: normal;}
{background-color: grey;}
body{margin:5px;}
div{
  padding:5px; 
  margin: 5px;} 
#b1{background-color: yellow;
margin: 5px;
background-image: url(logo1.png);
background-repeat: repeat-y;}
#b2{
margin: 5px;}
#b3{width:25%;float:left;}
#b4{width:45%;float:left;}
#b5{width:13%;float:left;}
#b6{background-color: blue;
  margin: 5px;
  clear:both;}
