.fg1{background-color: blue;}
table,tr,td{border:solid 1px rosy;}
body{margin:0px;}
div{ 
  padding:5px;
  margin: 5px;} 
#b1{background-color: yellow;}
#b2{background-color: blue;}
#b3{background-color: grey;
  martin:5px;width:25%;float:left;}
#b4{background-color: grey;
  martin:5px;width:45%;float:left;}
#b5{background-color: grey;
  martin:5px;width:13%;float:left;}
#b6{background-color: blue;clear:both;}
