.fg1{background-color: rosy;}
table,tr,td{border:solid 3px blue;}
body{margin:5px;}
div{
  padding:5px; 
  margin: 5px;} 
#b1{background-color: yellow;border-color: rosy;
margin: 5px;}
#b2{background-color: blue; border-color: rosy;
margin: 5px;}
#b3{background-color: grey; border-color: rosy;
  martin:5px;width:25%;float:left;}
#b4{background-color: grey; border-color: rosy;
  martin:5px;width:45%;float:left;}
#b5{background-color: grey;border-color: rosy;
  martin:5px;width:13%;float:left;}
#b6{background-color: blue; border-color: rosy;
  margin: 5px;
  clear:both;}
